/.gradle
/app/build
/.idea
/RetrofitDemo.iml
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/com/zzti/retrofitdemo/ui/UploadPhotoActivity.java
app/src/main/java/com/zzti/retrofitdemo/ui/MainActivity.java
app/src/main/java/com/zzti/retrofitdemo/ui/MainActivity.java
